.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-shadow: 0 2px 4px 0 #2124290D;
    border-radius: 12px;
    background-color: var(--white);
}

.card__content {
    width: 100%;
    min-height: 262px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: stretch;
}

.card__title {
    margin: 25px 0 6px;
    text-align: center;
}
