.title {
    font-family: var(--font-family-inter);
    color: var(--primary-typography-color);
    margin: 0;
}

.title_xl {
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
}

.title_l {
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
}

.title_s {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.title_align_center {
    text-align: center;
}

.title_font-weight_medium {
    font-weight: 500;
}