@import './normalize.css';
@import '../fonts/fonts.css';

@import '../../components/title/title.css';
@import '../../components/text/text.css';
@import '../../components/page/page.css';
@import '../../components/container/container.css';
@import '../../components/header/header.css';
@import '../../components/main/main.css';
@import '../../components/footer/footer.css';
@import '../../components/skeleton/skeleton.css';
@import '../../components/tooltip/tooltip.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --light-blue: #F9FAFC;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    /* Fonts */
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-inter: 'Inter', sans-serif;

    /* Border */
    --primary-border-color: var(--grey-2);

    /* Typography */
    --primary-typography-color: var(--black);
}

body {
    font-family: var(--font-family-roboto);
}

html, body {
    height: 100%;
}
