.text {
    font-family: var(--font-family-inter);
    color: var(--primary-typography-color);
    margin: 0;
}

.text_m {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.text_align_center {
    text-align: center;
}

.text_color_gray4 {
    color: var(--grey-4);
}

.text_color_primary {
    color: var(--primary);
}

.text_decoration_none {
    text-decoration: none;
}